#loremIpsumGenerator {
    font-family: sans-serif;
    margin: 1rem;
}

#paragraphsCount {
    width: 4rem;
}

#result {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px dashed gray;
    font-size: .75rem;
    position: relative;
    display: none;;
}

#result.show {
    display: block;
}

.copy {
    position: absolute;
    right: .25rem;
    top: .25rem;
    border: 0;
    text-transform: uppercase;
    font-size: .5rem;
    padding: .25rem .5rem;
    cursor: pointer;
}

.copy:hover {
    background-color: blanchedalmond;
}
