body {
    font-family: sans-serif;
}

#userDirectory {
    width: 800px;
    margin: 1rem .5rem;
    padding: 1rem;
    background-color: rgb(129, 129, 180);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.3);
}

#userTable {
    margin: 1rem 0;
}

#userTable img {
    width: 40px;
}

#userTable th {
    text-align: left;
}