html, body {
    height: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem;
    background-image: url(timer-bg.jpg);
    background-size: cover;
}

h1 {
    color: whitesmoke;
}

.container {
    display: flex;
    box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: .5rem;
    background-color: whitesmoke;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100px;
}

.inputs input {
    padding: .5rem;
}

.inputs button {
    border: 0;
    padding: .5rem 1rem;
    background-color: lightgrey;
    cursor: pointer;
}

.inputs button:hover {
    background-color: white;

}

.timer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}