body {
    padding: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1>span {
    color: red;
}

button {
    background-color: teal;
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 0;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover {
    background-color:darkslategrey;
}