body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(background.jpg);
    background-size: cover;
}

button {
    margin: 2rem;
    display: inline;
    background-color: teal;
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 0;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover {
    background-color:darkslategrey;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
    background-color: white;
    padding: 4rem;
    position: relative;
    cursor: pointer;
}

